## Meddra files parser

1. System Organ Class (i.e. Gastrointestinal disorders)
2. High Level Group Term (i.e. Gastrointestinal signs and symptoms)
3. High Level Term (i.e. Nausea and vomiting symptoms)
4. Prefered Term (i.e Nausea)
5. Lowest Level Term (i.e Feeling queasy)

Nome do ficheiro1 hlgt.asc
hlgt_hlt.asc
hlt.asc
hlt_pt.asc
llt.asc meddra_history_portuguese.asc meddra_release.asc
mdhier.asc pt.asc
soc.asc soc_hlgt.asc intl_ord.asc smq_list.asc smq_content.asc
Tabela do MedDRA
1_hlgt_pref_term 1_hlgt_hlt_comp 1_hlt_pref_term 1_hlt_pref_comp 1_low_level_term N/A*
N/A 1_md_hierarchy 1_pref_term 1_soc_term 1_soc_hlgt_comp 1_soc_intl_order 1_smq_list 1_smq_content

In [1]:
import pandas as pd

In [2]:
hlgt_hlt_cols=["Hlgt_code","hlt_code"]
hlgt_cols=["hlgt_code","hlgt_name","hlgt_whoart_code","hlgt_harts_code","hlgt_costart_sym","hlgt_icd9_code","hlgt_icd9cm_code","hlgt_icd10_code","hlgt_jart_code"]
hlt_pt_cols=["hlt_code","pt_code"]
hlt_cols=["hlt_code","hlt_name","hlt_whoart_code","hlt_harts_code","hlt_costart_sym","hlt_icd9_code","hlt_icd9cm_code","hlt_icd10_code","hlt_jart_code"]
llt_cols=["llt_code","llt_name","pt_code","llt_whoart_code","llt_harts_code","llt_costart_sym","llt_icd9_code","llt_icd9cm_code","llt_icd10_code","llt_currency","llt_jart_code"]
mdhier_cols=["pt_code","hlt_code","hglt_code","soc_code","pt_name","hlt_name","hglt_name","soc_name","soc_abbrev","null_field","pt_soc_code","primary_soc_fg"]
pt_cols=["pt_code","pt_name","null_field","pt_soc_code","pt_whoart_code","pt_harts_code","pt_costart_sym","pt_icd9_code","pt_icd9cm_code","pt_icd10_code","pt_jart_code"]
soc_hlgt_cols=["soc_code","hlgt_code"]
intl_ord_cols=["intl_ord_code","soc_code"]

In [3]:
hlgt_hlt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlgt_hlt.asc", sep="$", header=None,encoding='ascii')
hlgt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlgt.asc", sep="$", header=None,encoding='latin-1')
hlt_pt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlt_pt.asc", sep="$", header=None,encoding='latin-1')
hlt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlt.asc", sep="$", header=None,encoding='latin-1')
intl_ord=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/intl_ord.asc", sep="$", header=None,encoding='latin-1')
llt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/llt.asc", sep="$", header=None,encoding='latin-1')
mdhier=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/mdhier.asc", sep="$", header=None,encoding='latin-1')
pt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/pt.asc", sep="$", header=None,encoding='latin-1')
soc_hlgt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/soc_hlgt.asc", sep="$", header=None,encoding='latin-1')

In [4]:
hlgt_hlt = hlgt_hlt.iloc[: , :-1]
hlgt=hlgt.iloc[: , :-1]
hlt_pt=hlt_pt.iloc[: , :-1]
hlt=hlt.iloc[: , :-1]
llt=llt.iloc[: , :-1]
mdhier=mdhier.iloc[: , :-1]
pt=pt.iloc[: , :-1]
soc_hlgt=soc_hlgt.iloc[: , :-1]
intl_ord=intl_ord.iloc[: , :-1]

In [5]:
hlgt_hlt.columns=hlgt_hlt_cols
hlgt.columns=hlgt_cols
hlt_pt.columns=hlt_pt_cols
hlt.columns=hlt_cols
llt.columns=llt_cols
mdhier.columns=mdhier_cols
pt.columns=pt_cols
soc_hlgt.columns=soc_hlgt_cols
intl_ord.columns=intl_ord_cols

In [6]:
pt

,pt_code,pt_name,null_field,pt_soc_code,pt_whoart_code,pt_harts_code,pt_costart_sym,pt_icd9_code,pt_icd9cm_code,pt_icd10_code,pt_jart_code
0,10000002,Deficiência de 11-beta-hidroxilase,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000005,17-cetosteróides na urina,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000007,17-cetosteróides na urina diminuídos,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000009,17-cetosteróides na urina aumentados,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000011,17-cetosteróides na urina normais,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25587,10087968,Trombose da veia espermática,NaN,10038604,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25588,10087973,Gangrena pulmonar,NaN,10021881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25589,10087974,Extravasão no local de acesso vascular,NaN,10022117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25590,10087975,Necrose retroperitoneal,NaN,10017947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25591,10087980,Triptassemia alfa hereditária,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
llt[llt["pt_code"]==10000002]

,llt_code,llt_name,pt_code,llt_whoart_code,llt_harts_code,llt_costart_sym,llt_icd9_code,llt_icd9cm_code,llt_icd10_code,llt_currency,llt_jart_code
1,10000002,Deficiência de 11-beta-hidroxilase,10000002,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN

In [8]:
import sqlalchemy

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
SQLALCHEMY_DATABASE_URI = "mysql+pymysql://api:ZSCO1wtnkwU9fBsa5/fS@127.0.0.1:3306/repository"
# Test if it works
engine = sqlalchemy.create_engine(SQLALCHEMY_DATABASE_URI, echo=False)
conn=engine.connect()

In [9]:
pt.to_sql("meddra_prefered_term_pt", con=conn, if_exists="replace", index=False)
llt.to_sql("meddra_low_level_term_pt", con=conn, if_exists="replace", index=False)

NameError: name 'conn' is not defined

In [10]:
pt.to_csv("meddra_prefered_term_pt.csv", index=False)
llt.to_csv("meddra_low_level_term_pt.csv", index=False)

In [11]:
llt_en=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/llt.asc", sep="$", header=None,encoding='latin-1')
pt_en=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/pt.asc", sep="$", header=None,encoding='latin-1')

In [12]:
llt_en=llt_en.iloc[: , :-1]
pt_en=pt_en.iloc[: , :-1]

In [13]:
llt_en.columns=llt_cols
pt_en.columns=pt_cols

In [14]:
pt_en.to_sql("meddra_prefered_term_en", con=conn, if_exists="replace", index=False)
llt_en.to_sql("meddra_low_level_term_en", con=conn, if_exists="replace", index=False)

NameError: name 'conn' is not defined

In [15]:
pt_en.to_csv("meddra_prefered_term_en.csv", index=False)
llt_en.to_csv("meddra_low_level_term_en.csv", index=False)

In [16]:
pt_en

,pt_code,pt_name,null_field,pt_soc_code,pt_whoart_code,pt_harts_code,pt_costart_sym,pt_icd9_code,pt_icd9cm_code,pt_icd10_code,pt_jart_code
0,10000002,11-beta-hydroxylase deficiency,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000005,17 ketosteroids urine,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000007,17 ketosteroids urine decreased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000009,17 ketosteroids urine increased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000011,17 ketosteroids urine normal,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25587,10087968,Spermatic vein thrombosis,NaN,10038604,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25588,10087973,Pulmonary gangrene,NaN,10021881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25589,10087974,Vascular access site extravasation,NaN,10022117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25590,10087975,Retroperitoneal necrosis,NaN,10017947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25591,10087980,Hereditary alpha tryptasaemia,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
pt_en

,pt_code,pt_name,null_field,pt_soc_code,pt_whoart_code,pt_harts_code,pt_costart_sym,pt_icd9_code,pt_icd9cm_code,pt_icd10_code,pt_jart_code
0,10000002,11-beta-hydroxylase deficiency,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000005,17 ketosteroids urine,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000007,17 ketosteroids urine decreased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000009,17 ketosteroids urine increased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000011,17 ketosteroids urine normal,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25587,10087968,Spermatic vein thrombosis,NaN,10038604,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25588,10087973,Pulmonary gangrene,NaN,10021881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25589,10087974,Vascular access site extravasation,NaN,10022117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25590,10087975,Retroperitoneal necrosis,NaN,10017947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25591,10087980,Hereditary alpha tryptasaemia,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
llt_en

,llt_code,llt_name,pt_code,llt_whoart_code,llt_harts_code,llt_costart_sym,llt_icd9_code,llt_icd9cm_code,llt_icd10_code,llt_currency,llt_jart_code
0,10000001,Ventilation pneumonitis,10081988,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,10000002,11-beta-hydroxylase deficiency,10000002,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
2,10000003,11-oxysteroid activity incr,10033315,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,10000004,11-oxysteroid activity increased,10033315,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
4,10000005,17 ketosteroids urine,10000005,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...
85663,10087977,Infantile fibrosarcoma,10065859,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85664,10087978,Hormone-sensitive prostate cancer,10071119,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85665,10087979,Retinal atrophic hole,10038897,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85666,10087980,Hereditary alpha tryptasaemia,10087980,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85667,10087981,Hereditary alpha tryptasemia,10087980,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN

In [21]:
pt_llt_en=pd.merge(pt_en,llt_en,on="pt_code")
pt_llt_en

,pt_code,pt_name,null_field,pt_soc_code,pt_whoart_code,pt_harts_code,pt_costart_sym,pt_icd9_code,pt_icd9cm_code,pt_icd10_code,...,llt_code,llt_name,llt_whoart_code,llt_harts_code,llt_costart_sym,llt_icd9_code,llt_icd9cm_code,llt_icd10_code,llt_currency,llt_jart_code
0,10000002,11-beta-hydroxylase deficiency,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,...,10000002,11-beta-hydroxylase deficiency,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
1,10000005,17 ketosteroids urine,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,...,10000005,17 ketosteroids urine,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
2,10000007,17 ketosteroids urine decreased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,...,10000007,17 ketosteroids urine decreased,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
3,10000007,17 ketosteroids urine decreased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,...,10000010,17 ketosteroids urine low,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
4,10000009,17 ketosteroids urine increased,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,...,10000008,17 ketosteroids urine high,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85663,10087973,Pulmonary gangrene,NaN,10021881,NaN,NaN,NaN,NaN,NaN,NaN,...,10087973,Pulmonary gangrene,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85664,10087974,Vascular access site extravasation,NaN,10022117,NaN,NaN,NaN,NaN,NaN,NaN,...,10087974,Vascular access site extravasation,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85665,10087975,Retroperitoneal necrosis,NaN,10017947,NaN,NaN,NaN,NaN,NaN,NaN,...,10087975,Retroperitoneal necrosis,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85666,10087980,Hereditary alpha tryptasaemia,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,...,10087980,Hereditary alpha tryptasaemia,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
85667,10087980,Hereditary alpha tryptasaemia,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,...,10087981,Hereditary alpha tryptasemia,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN

In [22]:
soc_en=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/soc.asc", sep="$", header=None,encoding='latin-1')
soc_en.columns=["soc_ code", "soc_name", "soc_abbrev", "soc_whoart_code+", "soc_harts_code+", "soc_costart_sym+", "soc_icd9_code+", "soc_icd9cm_code+", "soc_icd10_code+", "soc_jart_code+","??"]

In [31]:
soc_en

,soc_ code,soc_name,soc_abbrev,soc_whoart_code+,soc_harts_code+,soc_costart_sym+,soc_icd9_code+,soc_icd9cm_code+,soc_icd10_code+,soc_jart_code+,??
0,10005329,Blood and lymphatic system disorders,Blood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10007541,Cardiac disorders,Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10010331,"Congenital, familial and genetic disorders",Cong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10013993,Ear and labyrinth disorders,Ear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10014698,Endocrine disorders,Endo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10015919,Eye disorders,Eye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10017947,Gastrointestinal disorders,Gastr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10018065,General disorders and administration site cond...,Genrl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10019805,Hepatobiliary disorders,Hepat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10021428,Immune system disorders,Immun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10021881,Infections and infestations,Infec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10022117,"Injury, poisoning and procedural complications",Inj&P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10022891,Investigations,Inv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10027433,Metabolism and nutrition disorders,Metab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10028395,Musculoskeletal and connective tissue disorders,Musc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10029104,"Neoplasms benign, malignant and unspecified (i...",Neopl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10029205,Nervous system disorders,Nerv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10036585,"Pregnancy, puerperium and perinatal conditions",Preg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10037175,Psychiatric disorders,Psych,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10038359,Renal and urinary disorders,Renal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,10038604,Reproductive system and breast disorders,Repro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10038738,"Respiratory, thoracic and mediastinal disorders",Resp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10040785,Skin and subcutaneous tissue disorders,Skin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10041244,Social circumstances,SocCi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,10042613,Surgical and medical procedures,Surg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,10047065,Vascular disorders,Vasc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10077536,Product issues,Prod,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
soc_hlgt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/soc_hlgt.asc", sep="$", header=None,encoding='ascii')
soc_hlgt.columns=["soc_code","hlgt_code","??"]
soc_hlgt

     soc_code  hlgt_code  ??
0    10005329   10002086 NaN
1    10005329   10018849 NaN
2    10005329   10018865 NaN
3    10005329   10018902 NaN
4    10005329   10018911 NaN
..        ...        ...  ..
349  10047065   10057165 NaN
350  10047065   10057166 NaN
351  10047065   10082207 NaN
352  10077536   10069782 NaN
353  10077536   10077537 NaN

[354 rows x 3 columns]

In [39]:

mdhier=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/mdhier.asc", sep="$", header=None,encoding='ascii')
mdhier.columns=["pt_code",
"hlt_code",
"hlgt_code",
"soc_code",
"pt_name",
"hlt_name",
"hlgt_name",
"soc_name",
"soc_abbrev",
"null_field",
"pt_soc_code",
"primary_soc_fg","??"]
mdhier

,pt_code,hlt_code,hlgt_code,soc_code,pt_name,hlt_name,hlgt_name,soc_name,soc_abbrev,null_field,pt_soc_code,primary_soc_fg,??
0,10002043,10002042,10002086,10005329,Anaemia folate deficiency,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
1,10002080,10002042,10002086,10005329,Anaemia vitamin B12 deficiency,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
2,10002081,10002042,10002086,10005329,Anaemia vitamin B6 deficiency,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
3,10022972,10002042,10002086,10005329,Iron deficiency anaemia,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
4,10034695,10002042,10002086,10005329,Pernicious anaemia,Anaemia deficiencies,Anaemias nonhaemolytic and marrow depression,Blood and lymphatic system disorders,Blood,NaN,10005329,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39642,10079432,10077544,10077537,10077536,Manufacturing product shipping issue,Product distribution and storage issues,"Product quality, supply, distribution, manufac...",Product issues,Prod,NaN,10077536,Y,NaN
39643,10083571,10077544,10077537,10077536,Product temperature excursion issue,Product distribution and storage issues,"Product quality, supply, distribution, manufac...",Product issues,Prod,NaN,10077536,Y,NaN
39644,10077800,10077545,10077537,10077536,Product availability issue,Product supply and availability issues,"Product quality, supply, distribution, manufac...",Product issues,Prod,NaN,10077536,Y,NaN
39645,10077801,10077545,10077537,10077536,Product supply issue,Product supply and availability issues,"Product quality, supply, distribution, manufac...",Product issues,Prod,NaN,10077536,Y,NaN
39646,10080231,10077545,10077537,10077536,Recalled product,Product supply and availability issues,"Product quality, supply, distribution, manufac...",Product issues,Prod,NaN,10077536,Y,NaN

In [42]:
hlgt_hlt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/hlgt_hlt.asc", sep="$", header=None,encoding='ascii')
hlgt_hlt.columns=["hlgt_code","hlt_code","?"]
hlgt_hlt

      hlgt_code  hlt_code   ?
0      10000073  10012714 NaN
1      10000073  10016435 NaN
2      10000073  10021620 NaN
3      10000073  10022017 NaN
4      10000073  10045459 NaN
...         ...       ...  ..
1750   10087059  10040787 NaN
1751   10087059  10040788 NaN
1752   10087059  10040791 NaN
1753   10087059  10040793 NaN
1754   10087059  10040797 NaN

[1755 rows x 3 columns]

In [45]:
hlgt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/hlgt.asc", sep="$", header=None,encoding='ascii')
hlgt.columns=["hlgt_code", "hlgt_name", "hlgt_whoart_code+", "hlgt_harts_code+", "hlgt_costart_sym+", "hlgt_icd9_code+", "hlgt_icd9cm_code+", "hlgt_icd10_code+", "hlgt_jart_code+","?"]
hlgt

,hlgt_code,hlgt_name,hlgt_whoart_code+,hlgt_harts_code+,hlgt_costart_sym+,hlgt_icd9_code+,hlgt_icd9cm_code+,hlgt_icd10_code+,hlgt_jart_code+,?
0,10000073,Abdominal hernias and other abdominal wall con...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000211,Abortions and stillbirth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000485,Acid-base disorders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000546,Metabolism disorders NEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001302,Adjustment disorders (incl subtypes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
332,10082206,"Cardiac disorders, signs and symptoms NEC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,10082207,Vascular infections and inflammations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,10083624,"Chromosomal abnormalities, gene alterations an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,10087058,Cytogenetic investigations and genetic analyses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,10087059,Skin and subcutaneous tissue infections and in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
hlt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/hlt.asc", sep="$", header=None,encoding='ascii')
hlt.columns=["hlt_code", "hlt_name", "hlt_whoart_code+", "hlt_harts_code+", "hlt_costart_sym+", "hlt_icd9_code+", "hlt_icd9cm_code+", "hlt_icd10_code+", "hlt_jart_code+","?"]
hlt

,hlt_code,hlt_name,hlt_whoart_code+,hlt_harts_code+,hlt_costart_sym+,hlt_icd9_code+,hlt_icd9cm_code+,hlt_icd10_code+,hlt_jart_code+,?
0,10000032,Cardiac conduction disorders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000063,Abdominal findings abnormal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000117,Abnormal behaviour NEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000135,Abnormal food elimination,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000171,Abnormal reflexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1732,10085260,Hepatitis virus infections,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1733,10085261,Auditory and vestibular diagnostic procedures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1734,10085262,Follicular lymphomas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1735,10087056,Skin histopathology and skin investigations NEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1736,10087057,Hepatobiliary function diagnostic procedures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
pt_llt_en.to_csv("pt_llt_en.csv")