## Meddra files parser

1. System Organ Class (i.e. Gastrointestinal disorders)
2. High Level Group Term (i.e. Gastrointestinal signs and symptoms)
3. High Level Term (i.e. Nausea and vomiting symptoms)
4. Prefered Term (i.e Nausea)
5. Lowest Level Term (i.e Feeling queasy)

Nome do ficheiro1 hlgt.asc
hlgt_hlt.asc
hlt.asc
hlt_pt.asc
llt.asc meddra_history_portuguese.asc meddra_release.asc
mdhier.asc pt.asc
soc.asc soc_hlgt.asc intl_ord.asc smq_list.asc smq_content.asc
Tabela do MedDRA
1_hlgt_pref_term 1_hlgt_hlt_comp 1_hlt_pref_term 1_hlt_pref_comp 1_low_level_term N/A*
N/A 1_md_hierarchy 1_pref_term 1_soc_term 1_soc_hlgt_comp 1_soc_intl_order 1_smq_list 1_smq_content

In [2]:
import pandas as pd

In [3]:
hlgt_hlt_cols=["Hlgt_code","hlt_code"]
hlgt_cols=["hlgt_code","hlgt_name","hlgt_whoart_code","hlgt_harts_code","hlgt_costart_sym","hlgt_icd9_code","hlgt_icd9cm_code","hlgt_icd10_code","hlgt_jart_code"]
hlt_pt_cols=["hlt_code","pt_code"]
hlt_cols=["hlt_code","hlt_name","hlt_whoart_code","hlt_harts_code","hlt_costart_sym","hlt_icd9_code","hlt_icd9cm_code","hlt_icd10_code","hlt_jart_code"]
llt_cols=["llt_code","llt_name","pt_code","llt_whoart_code","llt_harts_code","llt_costart_sym","llt_icd9_code","llt_icd9cm_code","llt_icd10_code","llt_currency","llt_jart_code"]
mdhier_cols=["pt_code","hlt_code","hglt_code","soc_code","pt_name","hlt_name","hglt_name","soc_name","soc_abbrev","null_field","pt_soc_code","primary_soc_fg"]
pt_cols=["pt_code","pt_name","null_field","pt_soc_code","pt_whoart_code","pt_harts_code","pt_costart_sym","pt_icd9_code","pt_icd9cm_code","pt_icd10_code","pt_jart_code"]
soc_hlgt_cols=["soc_code","hlgt_code"]
intl_ord_cols=["intl_ord_code","soc_code"]

In [4]:
hlgt_hlt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlgt_hlt.asc", sep="$", header=None,encoding='ascii')
hlgt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlgt.asc", sep="$", header=None,encoding='latin-1')
hlt_pt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlt_pt.asc", sep="$", header=None,encoding='latin-1')
hlt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/hlt.asc", sep="$", header=None,encoding='latin-1')
intl_ord=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/intl_ord.asc", sep="$", header=None,encoding='latin-1')
llt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/llt.asc", sep="$", header=None,encoding='latin-1')
mdhier=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/mdhier.asc", sep="$", header=None,encoding='latin-1')
pt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/pt.asc", sep="$", header=None,encoding='latin-1')
soc_hlgt=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_Portuguese/ascii-251/soc_hlgt.asc", sep="$", header=None,encoding='latin-1')

In [5]:
hlgt_hlt = hlgt_hlt.iloc[: , :-1]
hlgt=hlgt.iloc[: , :-1]
hlt_pt=hlt_pt.iloc[: , :-1]
hlt=hlt.iloc[: , :-1]
llt=llt.iloc[: , :-1]
mdhier=mdhier.iloc[: , :-1]
pt=pt.iloc[: , :-1]
soc_hlgt=soc_hlgt.iloc[: , :-1]
intl_ord=intl_ord.iloc[: , :-1]

In [6]:
hlgt_hlt.columns=hlgt_hlt_cols
hlgt.columns=hlgt_cols
hlt_pt.columns=hlt_pt_cols
hlt.columns=hlt_cols
llt.columns=llt_cols
mdhier.columns=mdhier_cols
pt.columns=pt_cols
soc_hlgt.columns=soc_hlgt_cols
intl_ord.columns=intl_ord_cols

In [7]:
pt

,pt_code,pt_name,null_field,pt_soc_code,pt_whoart_code,pt_harts_code,pt_costart_sym,pt_icd9_code,pt_icd9cm_code,pt_icd10_code,pt_jart_code
0,10000002,Deficiência de 11-beta-hidroxilase,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000005,17-cetosteróides na urina,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000007,17-cetosteróides na urina diminuídos,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000009,17-cetosteróides na urina aumentados,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000011,17-cetosteróides na urina normais,NaN,10022891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25587,10087968,Trombose da veia espermática,NaN,10038604,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25588,10087973,Gangrena pulmonar,NaN,10021881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25589,10087974,Extravasão no local de acesso vascular,NaN,10022117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25590,10087975,Necrose retroperitoneal,NaN,10017947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25591,10087980,Triptassemia alfa hereditária,NaN,10010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
llt[llt["pt_code"]==10000002]

,llt_code,llt_name,pt_code,llt_whoart_code,llt_harts_code,llt_costart_sym,llt_icd9_code,llt_icd9cm_code,llt_icd10_code,llt_currency,llt_jart_code
1,10000002,Deficiência de 11-beta-hidroxilase,10000002,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN

In [9]:
import sqlalchemy

In [10]:
SQLALCHEMY_DATABASE_URI = "mysql+pymysql://api:ZSCO1wtnkwU9fBsa5/fS@127.0.0.1:3306/repository"
# Test if it works
engine = sqlalchemy.create_engine(SQLALCHEMY_DATABASE_URI, echo=False)
conn=engine.connect()

In [11]:
pt.to_sql("meddra_prefered_term_pt", con=conn, if_exists="replace", index=False)
llt.to_sql("meddra_low_level_term_pt", con=conn, if_exists="replace", index=False)

In [ ]:
pt.to_csv("meddra_prefered_term_pt.csv", index=False)
llt.to_csv("meddra_low_level_term_pt.csv", index=False)

NameError: name 'pt' is not defined

In [ ]:
llt_en=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/llt.asc", sep="$", header=None,encoding='latin-1')
pt_en=pd.read_table("/Users/joaoalmeida/Downloads/MedDRA_25_1_English/MedAscii/pt.asc", sep="$", header=None,encoding='latin-1')

In [ ]:
llt_en=llt_en.iloc[: , :-1]
pt_en=pt_en.iloc[: , :-1]

In [ ]:
llt_en.columns=llt_cols
pt_en.columns=pt_cols

In [ ]:
pt_en.to_sql("meddra_prefered_term_en", con=conn, if_exists="replace", index=False)
llt_en.to_sql("meddra_low_level_term_en", con=conn, if_exists="replace", index=False)

85668

In [ ]:
pt_en.to_csv("meddra_prefered_term_en.csv", index=False)
llt_en.to_csv("meddra_low_level_term_en.csv", index=False)